
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Source+Code+Pro&display=swap');


body{
    background-color: #272640 !important;
    scroll-behavior: smooth auto;  
    color: #64dfdf !important;
}

.container {
    font-family: 'Source Code Pro', monospace;
    margin: auto;
    font-size: 28px;
    padding: 5vh;
    /* padding: 10vh; */
}

button {
 background-color: #001524 !important;
}

#send-container {
    position: fixed;
    padding: 30px;
    bottom: 0;
    display: flex;
}

